.loading {
    height: 100%;
    width: 100%;
}

.flexCont {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 300px;
    margin-bottom: 3%;
}

.marg { 
    margin-bottom: 4%;
    margin-top: 1%;
    object-fit: contain;
    width: 100%;
}

.marg2 {
    height: 95%;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
   }
   a:hover, a:active {
    color: #D82F00;
   }

.noLink {
    font-size: 3vw;
    padding: 0;
}


.noLink5 {
    font-size: 2vw;
}

.noLink3 {
    font-size: 5vw;
}

.divs {
    display: inline;
}


/* .col-xl-4, .col-lg-4 {
    padding: 0;
} */

.p {
    margin-bottom: 0;
}
/* 
.col-md-6 {
    margin-left: 100px;
    width: 60%;
} */


.red {
    color: blue;
    text-decoration: underline;
}