.Apps {
  margin: 0;
  padding: 1%;
  text-align: center;
  /* display: flex; */
}

.myFont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vw;
}

.myFont2 {
  font-size: 2vw
}

.lefty {
  text-align: left;
  margin-left: 15%;
}

.flexImg {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
}

.images {
  margin-top: 2%;
}

.carousel-control-next, .carousel-control-prev {
  width: 20%;
}

.carousel-control-prev-icon{
  width: 100%!important;
  height: 10%;
  margin-top: 10%;
  margin-right: 93%;
  background-color: black!important;
  color:black!important;
}
.carousel-control-next-icon {
  width: 100%!important;
  margin-top: 10%;
  margin-left: 93%;
  margin-top: 10%;
  background-color: black!important;
}

.marg {
  margin-bottom: 5%;
}

.marg3 {
  margin-bottom: 3%;
}

.cen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  color: black;
  height: 50px;
  width: 300px;
  margin: 0 auto
}


.one {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.two {
  margin-top: 2%;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.arrow {
  height: 100%;
  width: 100%;
  margin-bottom: 3%;
  background: url('./HomeComponentImages/circled-right-2.jpg');
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: top center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.arrow:hover {
  background: url('./HomeComponentImages/circled-right-2red.jpg');
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: top center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pos {
  display: inline;
}


/* 
margin-top: 25px;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 5px solid black;
  background-image: none; */